.border{
    border: 10px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 30px 35px 40px 35px ;


}
.firstText{
    font-family: Roboto Slab;
    font-weight: 300;
    font-size: 16px;
}
.titleInput{
    font-family: Montserrat;
    font-size: 12px;
    line-height: 24px;
    margin-top: 12px ;

}
.input input{
    height: 30px;
    width: 370px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
}
.titleTextArea{
    font-family: Montserrat;
    font-size: 12px;
    line-height: 24px;
    margin-top: 20px;
}
.textAreaa textArea{
    height: 80px;
    width: 370px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
}
.otpravka{
    box-sizing: border-box;
    border: none;
    background-color: white;

}

.otpravka p {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #1B60C0;
    border: 1px solid #1B60C0;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 5px 23px;
    margin: 23px 0 0 0 ;
    transition-duration: 0.2s;
}
.otpravka p:hover{
    border: 1px solid #1B60C0;
    box-sizing: border-box;
    border-radius: 15px;

}



.leftReview img{
    padding: 0 0 0 180px;
    max-width: 440px;
    max-height: 330px;
    position: relative;
    top: -20px;

}

